# Python to Linux Web App on Azure
# Build your Python project and deploy it to Azure as a Linux Web App.
# Change python version to one thats appropriate for your application.
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

variables:
  # Azure Resource Manager connection created during pipeline creation
  azureServiceConnectionId: '33e8bc01-48e8-4e0a-97da-40c64bb2274f'
  
  # Web app name
  webAppName: 'testApp'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

  # Environment name
  environmentName: 'test'

  # Project root folder. Point to the folder containing manage.py file.
  projectRoot: $(System.DefaultWorkingDirectory)
  
  # Python version: 3.7
  pythonVersion: '3.7'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: BuildJob
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureResourceManagerTemplateDeployment@3
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'flaskServiceConnection'
        subscriptionId: 'e7d5fe66-6c5e-4ab5-9b95-6bae15dd7e03'
        action: 'Create Or Update Resource Group'
        resourceGroupName: 'myVMSSResourceGroup'
        location: 'South India'
        templateLocation: 'URL of the file'
        csmFileLink: 'https://github.com/citrix/citrix-adc-azure-templates/tree/master/templates/high_availability/availability_zone/public_vip/3nic_backend_autoscale'
        deploymentMode: 'Incremental'